/* --------------reset------------- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard-Regular';
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: normal;
  }
  
  b,
  strong {
    font-weight: normal;
  }
  
  i,
  em,
  address {
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  ol {
    list-style: none
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

  /* PC */
  @media (min-width:1024px) {
  /* ------common------- */
  .footerWrap{
    width:1024px;
    margin:0 auto;
  }

  /* --------first-line--------- */
  .first-line{
    width:100%;
    background:#EEEEEE;
  }
  
  .firstCont{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    width:1024px;
    margin:0 auto;
  }

  .firstCont>ul{
    display:flex;
    /* border:1px solid red; */
  }

  .firstCont>ul>li{
    padding:10px 0;
    padding-right:20px;
    font-weight:bold;
  }

  .firstCont>ul>li:hover{
    color:#555;
  }

  /* 패밀리사이트 커스텀 */
  .family {
    background:#fff;
    color:#555;
    border:1px solid #ddd;
    border-radius:5px;
    width: 130px;
    padding: 5px 10px;
    position: relative;
  }

  .family>a {
    display: flex;
    justify-content: space-between;
  }

  .family .icon {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 17px;
    overflow: hidden;
    vertical-align: middle;
  }

  .family .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: 2px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
  }

  .family .icon.rotate:before {
    transform: translate(-50%, -50%) rotate(-135deg);
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    margin-top: -4px;
  }

  .family ul {
    position: absolute;
    top: 32px;
    right:0;
    width: 150px;
    border:1px solid #ddd;
    border-radius:5px;
    background:#fff;
    opacity:0;
    pointer-events: none;
    z-index:10;
  }

  .family ul li{
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}

  .family ul li a {
    display: block;
    position: relative;
    font-size: 15px;
    font-weight:bold;
    color: #555;
  }

  .family ul li a:hover{
    color:#555;
    background:#eee;
  }

  .family ul.on {
    opacity: 1;
    pointer-events:all;
  }
  
  /* --------second-line--------- */
  .second-line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    padding:10px 0;
  }

  .second-line>figure{
    width:150px;
  }

  .second-line>figure>img{
    width:100%;
    object-fit: cover;
  }

  /* --------third-line--------- */
  .third-line{
    display:flex;
    justify-content: space-between;
    position:relative;
  }

  .info-cont {
    /* border:1px solid red; */
    font-size:13px;
    font-weight:bold;
    color:#555;
    padding-bottom:10px;
}

.info-cont>li {
    display: flex;
    align-items: center;
}

  .info-cont dl {
    display: flex;
}

dl+dl:before { 
    content: "";
    width: 2px;
    height: 10px;
    margin: 0 10px;
    background: #dbdbdb;
    box-sizing: border-box;
    transform: translateY(80%);
}

.info-cont dt, 
.info-cont dd {
    padding: 0 5px 5px 0;
    margin: 0;
}

.centerPhone{
    border:1px solid #eee;
    border-radius:10px;
    padding:20px;
    position:absolute;
    right:0;
    top:-25px;
}

.centerPhone>*{
    padding-bottom:5px;
}

.centerPhone>h3{
    font-size:24px;
}
.centerPhone>h6{
    padding-bottom:0;
    text-indent:50px;
    font-size:15px;
    color:#555;
}
}

  /* 태블릿 *//* 태블릿 *//* 태블릿 *//* 태블릿 *//* 태블릿 *//* 태블릿 *//* 태블릿 *//* 태블릿 */
  @media (min-width:768px) and (max-width:1023px) {
     /* ------common------- */
  .footerWrap{
    width:100%;
    margin:0 auto;
  }

  /* --------first-line--------- */
  .first-line{
    width:100%;
    background:#EEEEEE;
  }
  
  .firstCont{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    width:100%;
    margin:0 auto;
  }

  .firstCont>ul{
    display:flex;
    /* border:1px solid red; */
  }

  .firstCont>ul>li{
    padding:10px 0;
    padding-right:20px;
    font-weight:bold;
  }

  .firstCont>ul>li:hover{
    color:#555;
  }

  /* 패밀리사이트 커스텀 */
  .family {
    background:#fff;
    color:#555;
    border:1px solid #ddd;
    border-radius:5px;
    width: 130px;
    padding: 5px 10px;
    position: relative;
  }

  .family>a {
    display: flex;
    justify-content: space-between;
  }

  .family .icon {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 17px;
    overflow: hidden;
    vertical-align: middle;
  }

  .family .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: 2px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
  }

  .family .icon.rotate:before {
    transform: translate(-50%, -50%) rotate(-135deg);
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    margin-top: -4px;
  }

  .family ul {
    position: absolute;
    top: 32px;
    right:0;
    width: 150px;
    border:1px solid #ddd;
    border-radius:5px;
    background:#fff;
    opacity: 0;
    pointer-events: none;
    z-index:10;
  }

  .family ul li{
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}

  .family ul li a {
    display: block;
    position: relative;
    font-size: 15px;
    font-weight:bold;
    color: #555;
  }

  .family ul li a:hover{
    color:#555;
    background:#eee;
  }

  .family ul.on {
    opacity: 1;
    pointer-events: all;
  }
  
  /* --------second-line--------- */
  .second-line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    padding:10px 0;
  }

  .second-line>figure{
    width:150px;
  }

  .second-line>figure>img{
    width:100%;
    object-fit: cover;
  }

  /* --------third-line--------- */
  .third-line{
    display:flex;
    justify-content: space-between;
    position:relative;
  }

  .info-cont {
    /* border:1px solid red; */
    font-size:13px;
    font-weight:bold;
    color:#555;
}

  .info-cont dl {
    display: flex;
}

.info-cont dt, 
.info-cont dd {
    padding: 0 5px 5px 0;
    margin: 0;
}

.centerPhone{
    border:1px solid #eee;
    border-radius:10px;
    padding:20px;
    position:absolute;
    right:0;
    top:-25px;
}

.centerPhone>*{
    padding-bottom:5px;
}

.centerPhone>h3{
    font-size:24px;
}
.centerPhone>h6{
    padding-bottom:0;
    text-indent:50px;
    font-size:15px;
    color:#555;
}
  }

/* 모바일 *//* 모바일 *//* 모바일 *//* 모바일 *//* 모바일 *//* 모바일 *//* 모바일 *//* 모바일 *//* 모바일 */
@media (max-width:767px) {
         /* ------common------- */
  .footerWrap{
    width:90%;
    margin:0 auto;
    font-size:12px;
  }

  /* --------first-line--------- */
  .first-line{
    width:100%;
    background:#EEEEEE;
  }
  
  .firstCont{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    width:90%;
    margin:0 auto;
  }

  .firstCont>ul{
    display:flex;
    /* border:1px solid red; */
  }

  .firstCont>ul>li{
    padding:10px 0;
    padding-right:20px;
    font-weight:bold;
    font-size:12px;
  }

  /* 패밀리사이트 커스텀 */
  .family {
    background:#fff;
    color:#555;
    border:1px solid #ddd;
    border-radius:5px;
    width: 100px;
    padding: 5px 10px;
    position: relative;
    font-size:12px;
  }

  .family>a {
    display: flex;
    justify-content: space-between;
  }

  .family .icon {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 17px;
    overflow: hidden;
    vertical-align: middle;
  }

  .family .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: 2px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
  }

  .family .icon.rotate:before {
    transform: translate(-50%, -50%) rotate(-135deg);
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    margin-top: -4px;
  }

  .family ul {
    position: absolute;
    top: 30px;
    right:0;
    width: 100px;
    padding:0 10px;
    border:1px solid #ddd;
    border-radius:5px;
    background:#fff;
    opacity: 0;
    pointer-events: none;
    z-index:10;
  }

  .family ul li{
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}

  .family ul li a {
    display: block;
    position: relative;
    /* font-size:12px; */
    font-weight:bold;
    color: #555;
  }

  .family ul.on {
    opacity: 1;
    pointer-events: all;
  }
  
  /* --------second-line--------- */
  .second-line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    padding:10px 0;
  }

  .second-line>figure{
    width:100px;
  }

  .second-line>figure>img{
    width:100%;
    object-fit: cover;
  }

  /* --------third-line--------- */
  .third-line{
    display:flex;
    flex-direction: column-reverse;
  }

  .info-cont {
    /* border:1px solid red; */
    font-size:10px;
    font-weight:bold;
    color:#555;
    padding-top:10px;
}

  .info-cont dl {
    display: flex;
}

.info-cont dt, 
.info-cont dd {
    padding: 0 3px 3px 0;
    margin: 0;
}

.centerPhone{
    border:1px solid #eee;
    border-radius:10px;
    padding:20px;
}

.centerPhone>*{
    padding-bottom:5px;
}

.centerPhone>h3{
    font-size:24px;
}
.centerPhone>h6{
    padding-bottom:0;
    text-indent:35px;
    color:#555;
}
}

/* @media (max-width:402px) {
  .station{
    height:60px;
  }
}

@media (min-width:403px) and (max-width:767px) {
  .station{
    height:90px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .station{
    height:90px;
  }
}

@media (min-width:1024px){
  .station{
    height:90px;
  }
} */

/* 슬라이드 */
.station{
  /* border:1px solid red; */
  padding-top:35px;
  margin-top:5px;
  width:100%;
  overflow:hidden;
  position:relative;
}

.train{
  width:190%;
  display:flex;
}

.train>li{
  width:11.11%;
}

.train>li>img{
  width:100%;
  object-fit: cover;
}

.swiper .swiper-pagination {
  position: absolute;
  bottom: 0px !important;
}

.swiper-pagination .swiper-pagination-bullet{
background:#000;
}